<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" 
    xmlns:job="http://www.dangdang.com/schema/ddframe/job" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd 
                        http://www.dangdang.com/schema/ddframe/reg 
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd 
                        http://www.dangdang.com/schema/ddframe/job 
                        http://www.dangdang.com/schema/ddframe/job/job.xsd 
                        ">
    
    <bean id="elasticJobLog" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${mysql.master.jdbc.driverClassName}"/>
        <property name="url" value="${mysql.master.jdbc.url}"/>
        <property name="username" value="${mysql.master.jdbc.username}"/>
        <property name="password" value="${mysql.master.jdbc.password}"/>
    </bean>
    
    <!-- 
    	server-lists 连接Zookeeper服务器的列表,包括IP地址和端口号,多个地址用逗号分隔如: host1:2181,host2:2181 
    	namespace Zookeeper的命名空间
    	base-sleep-time-milliseconds 等待重试的间隔时间的初始值 单位：毫秒
    	max-sleep-time-milliseconds	等待重试的间隔时间的最大值 单位：毫秒
    	max-retries 最大重试次数
    	-->
    <reg:zookeeper id="regCenter" 
		    server-lists="${dubbo.registry.address}" 
		    namespace="xw-job" 
		    base-sleep-time-milliseconds="1000" 
		    max-sleep-time-milliseconds="3000" 
		    max-retries="4" />
    <!--
    	cron cron表达式，用于控制作业触发时间
    	sharding-total-count 作业分片总数
    	sharding-item-parameters 分片序列号和参数用等号分隔，多个键值对用逗号分隔,分片序列号从0开始，不可大于或等于作业分片总数
    	monitor-execution	监控作业运行时状态
    	monitor-port 作业监控端口 建议配置作业监控端口, 方便开发者dump作业信息。使用方法: echo “dump” | nc 127.0.0.1 9888
    	failover 	是否开启失效转移
    	description 作业描述信息
    	disabled 作业是否禁止启动 可用于部署作业时，先禁止启动，部署结束后统一启动
    	overwrite 本地配置是否可覆盖注册中心配置,如果可覆盖，每次启动作业都以本地配置为准
    	event-trace-rdb-data-source 作业事件追踪的数据源Bean引用
    	reconcileIntervalMinutes 设置修复状态服务执行间隔分钟数，用于修复作业服务器不一致状态，默认每10分钟检测并修复一次。
    -->
    <!-- test -->
    <job:simple id="xwTestJob" class="com.xw.elastic_job.Hello"
		registry-center-ref="regCenter" cron="*/5 * * * * ?"
		sharding-total-count="1" sharding-item-parameters="0=a"
		monitor-execution="true" monitor-port="19050" failover="false"
		description="Test job console 'hello'" disabled="false" overwrite="true"
		reconcile-interval-minutes="10" event-trace-rdb-data-source="elasticJobLog"
		job-exception-handler="com.xw.elastic_job.listener.CommonJobExceptionHandler">
		<job:listener class="com.xw.elastic_job.listener.CommonElasticJobListener" />
	</job:simple> 
	
	
</beans>
